Repository danieleschmidt/nerf-edge-ki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danieleschmidt, @terragon-labs/core-team, @terragon-labs/ios-team, @terragon-labs/web-team, @terragon-labs/ml-team, @terragon-labs/docs-team, @terragon-labs/devops-team, @terragon-labs/security-team

.github/CODEOWNERS:

# Global code owners
* @danieleschmidt @terragon-labs/core-team

# Platform-specific ownership
/ios/ @terragon-labs/ios-team
/web/ @terragon-labs/web-team  
/python/ @terragon-labs/ml-team

# Documentation
/docs/ @terragon-labs/docs-team
README.md @danieleschmidt @terragon-labs/core-team

# Configuration and infrastructure
/.github/ @terragon-labs/devops-team
/docker* @terragon-labs/devops-team
/nginx.conf @terragon-labs/devops-team

# Security-critical files
/SECURITY.md @terragon-labs/security-team
/.secrets.baseline @terragon-labs/security-team
/.pre-commit-config.yaml @terragon-labs/security-team

feat: implement autonomous value discovery system and NeRF SDK foundation
  .gitignore
  .terragon/autonomous-executor.js
  .terragon/backlog.json
  .terragon/continuous-scheduler.js
  .terragon/execution-history.json
  .terragon/value-config.yaml
  .terragon/value-discovery.js
  .terragon/value-metrics.json
  BACKLOG.md
  docs/API.md
  examples/python-training/train_model.py
  examples/web-webgpu/basic-rendering.js
  package-lock.json
  src/core/NerfModel.ts
  src/core/NerfScene.ts
  src/core/types.ts
  src/index.ts
  src/rendering/NerfRenderer.ts
  src/rendering/WebGPUBackend.ts
  src/utils/SpatialUtils.ts
Owners: @danieleschmidt, @terragon-labs/core-team, @terragon-labs/docs-team

docs: establish project foundation and community files
  CHANGELOG.md
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/0001-realtime-nerf-architecture.md
  docs/adr/0002-multiplatform-backends.md
  docs/adr/0003-foveated-rendering.md
  docs/adr/README.md
Owners: @danieleschmidt, @terragon-labs/core-team, @terragon-labs/docs-team

feat: setup development environment and code quality tools
  .devcontainer/devcontainer.json
  .env.example
  .vscode/tasks.json
  package.json
Owners: @danieleschmidt, @terragon-labs/core-team

test: establish comprehensive testing infrastructure
  package.json
  python/tests/unit/test_nerf_model.py
  tests/README.md
  tests/fixtures/test-data.json
  tests/integration/WebGPU.integration.test.ts
  tests/unit/NerfRenderer.test.ts
Owners: @danieleschmidt, @terragon-labs/core-team, @terragon-labs/ml-team

build: add containerization and build automation
  .releaserc.json
  Dockerfile
  docs/deployment/README.md
  scripts/build.sh
Owners: @danieleschmidt, @terragon-labs/core-team

ops: add monitoring and observability configuration
  docs/runbooks/service-down.md
  monitoring/docker-compose/monitoring-stack.yml
  monitoring/grafana/dashboards/nerf-overview.json
  monitoring/prometheus/prometheus.yml
  monitoring/prometheus/rules/nerf_alerts.yml
Owners: @terragon-labs/docs-team, @danieleschmidt, @terragon-labs/core-team
